::-webkit-scrollbar{width:5px;}
::-webkit-scrollbar-track{background:rgba(0,0,0,.3);}
::-webkit-scrollbar-thumb{background:black;}
/*button style*/
.btnfamily{
	border:2px solid rgb(0,255,50);
	font-size:30px;
	color:rgb(18,250,62);
	padding:18 40;
	margin:2%;
	cursor:hand;
	background:transparent;
	transition: box-shadow .5s;
	text-decoration:none;
}
.btnfamily:hover{
	background-image: linear-gradient(60deg, rgb(0,255,50), rgb(0,255,200));
	border:2px solid rgba(255,255,255,.2);
	color:white;
}
.btnfamily:active{transform:translatey(1px);}


/* join telegram's hover style */
.btnjoin{
	padding:30px 80px;
	font-size:30px;
	border:2px solid rgb(0,150,255);
	border-radius:10px;
	cursor:hand;
	transition:all .5s;
	text-decoration:none;
	background:rgb(0,150,255);
	color:white;
	position:relative;
	overflow:hidden;
	text-decoration:none;
	box-shadow:0 0 15px rgba(0,150,200,.2),0 0 15px rgba(0,150,200,.5);
	margin:1%;	
}
.btnjoin span{
	position:absolute;
	top:10px;
	left:51px;
	transition: .2s;
}
.btnjoin span::after{
	content:'\00bb';
	position:absolute;
	right:-35px;
	opacity:0;
	transition: .2s;
}
.btnjoin:hover span{left:35px;}
.btnjoin:hover span:after{opacity:1;}



/*demo button style*/
.btndemo{
	color:white;
	font-size:25px;
	padding:15px 40px;
	border:none;
	margin:1%;	
	background:rgba(18,250,62,.9);
	box-shadow:0 0px 10px rgba(0,0,0,.3);
	text-decoration:none;
	transition:.5s;
	cursor:hand;
}
.btndemo:hover{
	background:rgb(18,250,62);
	transform:scale(1.05);
}
/*to highlight the text as designer or developer name*/
.credit{text-decoration:none;color:rgb(18,250,62);}

/*textbox style with fav color rounded border*/
.roundedTextboxFavBorder{
	color:white;
	width:300px;
	font-size:20px;
	background:transparent;
	border:none;
	padding:10px 20px;
	border-radius:25px;
	border:1px solid rgb(150,150,100);
	text-align:center;
	transition:.5s;
}
.roundedTextboxFavBorder:focus{outline:none;border:1px solid rgb(18,250,62);}
.roundedTextboxFavBorder::placeholder{color:silver;}

/* this is the style of special text input with js functions*/
.txtcontainer{
	margin:5px;
	width:240px;
	height:auto;
	border:none;
	background:rgba(255,255,255,.5);
	border-bottom:1px solid cornflowerblue;
	transition:all .2s linear;
}
.contactTxt{
	position:relative;
	border:none;
	font-size:25px;
	width:100%;
	background:transparent;
}
.contactTxt:focus{
	outline:none;
}
.topname{
	color:grey;
	transform:scale(1.6) translate(18px,18px);
	transition:all .2s linear;
}


/*New content by collaborators*/
.circleTextboxgk{
	text-align: center;
	width: 250px;
	border: 2px solid #0ae2f3;
	padding: 10px 14px;
	outline: none;
	border-radius: 30px;
	font-size:18px;
	transition: .2s linear; 
		}
	.circleTextboxgk:focus{border-color: #fe9d07;}

.outlineTextboxaajtak{
      border:3px solid rgb(74,147,95);
      font-size:17px;
      padding:2px 2px 2px 4px;
	margin:5px 0px;
      border-radius:5px;
      outline-color:rgb(74,147,95,.4);
      outline-width:0px;
      outline-style:solid;
      transition:outline-width .1s;
    }
    .outlineTextboxaajtak:focus{outline-width:2px;}
 .singleLineButtominputboxgk{ 
	height: 20px;
	width: 250px;
	border:none;
	 margin:5px;
	} 
.singleLineButtominputboxgk input{
		height: 100%;
		width: 100%;
		border: none; 
		font-size: 20px;
		border-bottom: 2px solid silver; 
		padding:15px 6px;
		outline-color:oil;
		outline-style:solid;
		outline-width:0px;
		transition:all .4s;
		} 
.singleLineButtominputboxgk input:focus{outline-width:3px;}

 .switchCheckboxgk{
           position: relative;
           height: 40px;
           width: 80px;
           -webkit-appearance: none;
           background-color: #c6c6c6;
           outline: none;
           border-radius: 20px;
           box-shadow: inset 0 0 5px rgba(0,0,0,.2);
           transition: .5s;
           cursor: pointer;
           
        }
 .switchCheckboxgk:checked{
          background-color: #03a9fa;
      }
.switchCheckboxgk:before{
          content: "";
          position: absolute;
          width: 40px;
          height: 40px;
          border-radius: 20px;
          top: 0;
          left: 0;
          background-color: white;
          transform: scale(1.1);
          transition: .5s;
          box-shadow: 0 2px 5px rgba(0,0,0,.2);
      }
.switchCheckboxgk:checked:before{
          left: 40px;
      }


.containerCircleCheckboxgk{
         padding: 8px 48px;
         margin: 8px;
     }
 .containerCircleCheckboxgk input{
         display: none;
     }
 .containerCircleCheckboxgk label{
         position: relative;
     }
 .containerCircleCheckboxgk label::before{
         content: "";
         background: url("https://cdn1.iconfinder.com/data/icons/basic-ui-elements-color-round/3/15-128.png");
         background-position: center;
         background-size: contain;
         width: 28px;
         height: 28px;
         position: absolute;
         left: -44px;
         top: -8px;
         transform: scale(0) rotateZ(180deg);
         transition: all 0.4s cubic-bezier(0.54,0.01,0,1.49);
     }
 .containerCircleCheckboxgk input:checked + label::before{
         transform: scale(1) rotateZ(0deg);
     }
.containerCircleCheckboxgk input:checked + label::after{transform: scale(1.2);}
 .containerCircleCheckboxgk label::after{
         content: "";
         border: 2px solid #27ae60;
         width: 20px;
         height: 20px;
         position: absolute;
         left: -42px;
         top: -6px;
         border-radius: 50%;
    transition:.3s;
     }

.checkboxMiddleSection{
	width:110px;
	height:50px;
	cursor:hand;
	border-radius:30px;
	background:silver;
	border:2px solid white;
	box-shadow:0 0 2px black inset,0 0 5px black inset;
	transition:background-color .6s;
	margin:5px;
}
.checkboxMiddleSection input[type=checkbox]{appearance:none;}
.checkboxSlider{
	border:none;
	height:40px;
	width:40px;
	border:2px solid rgb(255,255,255);
	border-radius:50%;
	margin:5px 0px 5px -5px;
	box-shadow:0 0 2px black inset,0 0 3px rgba(0,0,0,.4);
	cursor:hand;
	transition:all .5s;
}

.labelTextboxaajtak{
	width:180px;
	border:none;
		}
.labelTextboxaajtak input{
	font-size:15px;
	width:200px;
	height:48px;
	outline:none;
	border:2px solid skyblue;
	border-width:25px 2px 2px 2px;
	border-radius:5px 5px 5px 5px;
	padding:1px 5px 1px 5px ;
	transition: all .2s;
	}
.labelTextboxaajtak label{
	position:relative;
	top:21px;
	left:10px;
	color:white;
	font-size:15px;
	font-family:arial;
	} 

.outerCheckboxaajtak{
	color:rgb(105,105,105);
	height:25px;
	width:25px;
	border:3px solid gray;
	background:gray;
	border-radius:5px;
	box-shadow:2px 2px 2px silver;
	position:relative;
	transition:all .2s;
	cursor:hand;
	margin:2px;    	
	display:flex;
	justify-content:center;
	align-items:center;
}
.outerCheckboxaajtak input{
    	-webkit-appearance:none;
    	float:right;
    	display:none;
} 
.btnRoundedBorderDanger{
	padding:18px 40px; 
	color:tomato;
	border:1px solid tomato;
	font-size:20px;
	border-radius:30px;
	background-color:transparent;
	transition:.2s;
	cursor:hand;
	}
.btnRoundedBorderDanger:hover{
	box-shadow:0px 0px 10px rgba(0,0,0,.3);
	background-color:tomato;
	color:white;
	}

.trafficOuter{
		height:48px;
		width:25px;
		border-radius:11px;
		border:2px solid gray;
		background:silver;
		display:block;
		padding-top:1px;
		cursor:hand;
		margin:2px;
}
.trafficOuter div:nth-child(1), .trafficOuter div:nth-child(2){
		height:35%;
		width:70%;
		margin:7.5%;
		border:2px solid gray;
		border-radius:10px;
		background:rgb(84,156,48,.4);
		box-shadow:0px 0px 4px gray inset, 0px 0px 4px gray inset;
		transition:all .3s;
		
}
.trafficOuter div:nth-child(2){
		border:2px solid #E2E2E2;	
		background:red;
		box-shadow:0px 0px 4px rgba(187,30,16,.7), 0px 0px 4px rgba(187,30,16,.7);
		transition: all .3s;
}
.trafficOuter input{
	-webkit-appearance:none;
	float:right;
	display:none;
}


.popuprange{
	height:50px;;
	width:200px;
	position:relative;
	margin:20px;
	padding:0px;
}
.popuprange input{
	-webkit-appearance:none;
	height:4px;
	width:107%;
	background:aqua;
	margin:2px;
	position:absolute;
	bottom:0px;
	left:7px;
	margin:0px;
	border-radius:7px;
	cursor:hand;
	outline:0px;
}
.popuprange input::-webkit-slider-thumb{
	-webkit-appearance:none;
	height:15px;
	width:15px;
	background:aqua;
	box-shadow:0px 0px 4px black;
	border-radius:10px;
}
.popuprange div:nth-child(1){
	height:24px;
	width:30px;
	padding-top:6px;
	background:aqua;
	border-radius:50%;
	position:absolute;
	top:0%;
	left:50%;
	text-align:center;
	color:gray;
	font-weight:bold;
	font-family:arial;
	transform:scale(0);
	transition:transform .2s;
	transform-origin:bottom;
	box-shadow:0px 0px 3px gray;
}
.popuprange:hover div:nth-child(1){transform:scale(1);}
.popuprange div:nth-child(3){
	position:absolute;
	background:gray;
	height:4px;
	border-radius:20px;
	width:50%;
	left:7px;
	bottom:0px;
	z-index:-2px;
}


.BoxRange{
	height:32px;
	width:198px;
	border-radius:8px;
	border:2.5px solid gray;
	display:flex;
	justify-content:flex-start;
	align-items:center;
	padding:3px 3px 3px 7px;
}
.BoxRange input{
	-webkit-appearance:none;
	height:3px;
	width:75%;
	background:gray;
	border-radius:5px;
	outline:0px;
}
.BoxRange input::-webkit-slider-thumb{
	-webkit-appearance:none;
	height:15px;
	width:15px;
	border-radius:3px;
	background:gray;
	box-shadow:0px 0px 3px black;
	cursor:hand;
}
.BoxRange div{
	margin-left:15px;
	color:gray;
	font-family:arial;
	font-weight:bold;
}

/* notification section */
.noticeBoard {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background: #4f4f4f;
    border-radius: 30px;
    width: 300px;
    padding: 10px;
    position: absolute;
    bottom: 50px;
    left: calc((100% - 325px)/2);
    text-align: center;
    animation: displayNotification .5s ease;
}

@keyframes displayNotification {
    0% {
        opacity: 0;
        bottom: 0px;
    }

    100% {
        opacity: 1;
        bottom: 50px;
    }
}











@media screen and (max-width:800px){
	#roundedpic{height:80px; width:80px;}
	#menu,#closeNav{display:block;}
	#topnav{width:0%;}
	#topnav a{
		display:block;
		float:none;
		text-align:center;
		font-size:15px;
		background:rgba(0,0,0,.9);
	}
	#expandServices,#expandVisits{float:none;}
	#heading{display:none;}
	.btnfamily{padding:15 30;}
	.txt{width:95%;}
	.contactResponse{width:90%;}
	#externalContentContainer video{height:auto;width:100%;}
}
